{% extends 'account/main.html' %}
{% load static %}
{% block content %}



<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">

      {% if isEdit %}

      <h3 class="page-title">Edit Customer </h3>
      {% else %}
      <h3 class="page-title">Create New Customer </h3>
      {% endif %}

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Customer</a></li>
          <li class="breadcrumb-item active" aria-current="page"> {% if isEdit %}

            Edit
            {% else %}
            Add
            {% endif %}</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Customer

              {% if isEdit %}
              Update
              {% else %}
              Registration
              {% endif %}
              Form</h4>
            <p class="card-description">
              <marquee behavior="alternate" direction="right" scrollamount='1'>Be sure to have photocopies of their
                credentials</marquee>
            </p>
            <form action="" class="forms-sample" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ user_form.as_p }}
              <hr>
              {{ customer_form.as_p }}
              <hr>

              {% if isEdit %}
              <input type="submit" class="btn btn-info" value="Update Customer">
              {% else %}
              <input type="submit" class="btn btn-info" value="Create New Customer">
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}