{% extends 'account/main.html' %}
{% load static %}
{% block content %}



<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Search Customers </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Customer</a></li>
          <li class="breadcrumb-item active" aria-current="page">Search</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Search Customers</h4>
            <div class="row">
              <div class="col">
                <div class="card card-body">
                  <form method="get">
                    {{ filter.form }}
                    <button class="btn btn-primary" type="submit">Search</button>
                  </form>
                </div>
              </div>

            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Account Number</th>
                  <th>Account Type</th>
                  <th>Action</th>
                </tr>
                {% for customer in customers  %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ customer.user }}</td>
                  <td>{{ customer.account_number }}</td>
                  <td>{{ customer.account_type }}</td>
                  <td><a href="{% url 'edit_customer' customer.id  %}" class="btn btn-info"
                      onclick="return confirm('Edit {{ customer.user }}\'s Profile ?')">Edit
                      Customer</a> - <button data-toggle="modal" data-target="#viewTransaction" class="btn btn-primary"
                      value="{{customer.id}}">View
                      Transactions</button> -
                    <a href="" class="btn btn-danger">Close Account</a></td>
                </tr>
                {% endfor %}
              </table>
              <br>
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination  justify-content-end">
                        {% if customers.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link"
                            href="?page={{ customers.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% for num in customers.paginator.page_range %}
                        {% ifequal num customers.number %}
                        <li class="page-item active"><a class="page-link" href="#"> {{ num }}</a>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}"> {{ num }}</a></li>
                        {% endifequal %}
                        {% endfor %}
                        {% if customers.has_next %}
                        <li class="page-item"><a class="page-link"
                            href="?page={{ customers.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ customers.paginator.num_pages }}"">Last &raquo;</a></li>
                    {% endif %}
                  </ul>
                </nav>
                
                
              </div>
            </div>
  </div>
              
                  <span class=" text-info">
                            Viewing {{ customers.number }} of {{ customers.paginator.num_pages }}.
                            </span>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}